addict
diffusers
gradio
huggingface_hub
numpy
Pillow
PyYAML
requests
setuptools
supervision
termcolor
torch
torchvision
yapf
scipy
easydict
toml
tensorboardX
scikit-image
opencv-python
pycocotools
matplotlib

